.container {
  position: relative;
  width: 100%;
  height: 86vh;
  padding: 5rem 0;
  background: url(../assets/homepage/pngwing.com.png) right bottom / 100% 100%
      no-repeat,
    url(../assets/homepage/Donat_zadar.png) right top 15%/ 70% 55% no-repeat;
}

.homepage {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sea {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.donat {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  padding-left: 3rem;
  line-height: 1.2;
  flex-basis: 45%;
  z-index: 3;
}

.content h3 {
  font-size: 2.5rem;
  color: var(--color-dark--2);
}
.content h1 {
  font-size: 3.5rem;
  color: var(--color-dark--1);
  margin-bottom: 1rem;
}
.content span {
  color: var(--color-light--1);
}
.content p {
  font-size: 1.5rem;
  color: var(--color-light--2);
  margin-bottom: 3rem;
}

.city {
  width: 100%;
  top: 23rem;
  /* left: 2.5%; */
  position: absolute;
  z-index: 2;
}

.boat_container {
  display: flex;
}

.boat {
  rotate: -20deg;
  z-index: 3;
  width: 25rem;
}

@media screen and (max-width: 930px) {
  .container {
    background: url(../assets/homepage/pngwing.com.png) right bottom / 100% 100%
        no-repeat,
      url(../assets/homepage/Donat_zadar.png) right top 15%/ 65% 55% no-repeat;
  }
}

@media screen and (max-width: 668px) {
  .container {
    background: url(../assets/homepage/pngwing.com.png) right bottom / 100% 100%
        no-repeat,
      url(../assets/homepage/Donat_zadar.png) right top 30%/ 55% 44% no-repeat;
  }
  .content {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    background: url(../assets/homepage/pngwing.com.png) right bottom / 100% 100%
        no-repeat,
      url(../assets/homepage/Donat_zadar.png) right top 45%/ 55% 30% no-repeat;
  }
  .content {
    padding-left: 3rem;
    line-height: 1.2;
    flex-basis: 80%;
    z-index: 3;
  }
}

@media screen and (max-width: 468px) {
  .content {
    padding-left: 2.5rem;
  }
  .container {
    padding: 3.5rem 0;
  }
}
